@font-face {
  font-family: "italic";
  src: url("fonts/Junicode_BoldItalicCondensed.ttf");
}

@font-face {
  font-family: "Times-Simplex-Regular";
  src: url("fonts/HKGrotesk-Medium.woff2");
}

@font-face {
  font-family: "h1";
  src: url("fonts/Meta-old-French.otf");
}

@font-face {
  font-family: "anav";
  src: url("fonts/Meta-old-French.otf");
}


::selection{
  background-color: #f7ff00;
}

::-webkit-scrollbar {
  width: 8px;
  background: rgb(255, 251, 227);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  -webkit-border-radius: 1ex;
}

.footer-buttons a {
  display: inline-block;
  color: #444;
  background: #eee;
  padding: 4px 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  display: none;
}

body p {
  width: 100%;
  height: auto;
  margin: 0;
}

.repo {
  display: none;
  background: rgb(255, 251, 227);
  position: fixed;
  bottom: 0;
  height: 40px;
  align-items: center;
}

.site-name::before {
  display: none;
}

.footer-note {
  display: none;
}



sup strong {
  cursor: pointer;
  font-size: 0.8em;
}

blockquote sup em,
sup em {
  /* display: none; */
  width: 200px;
  position: absolute;
  right: 2%;
  border: dotted 2px #00098a;
  padding: 10px 10px 10px 10px;
  margin-top: 2%;
  max-height: 170px;
  overflow-y: auto;
  text-indent: 0px;
}

sup:hover em,
sup:hover em a {
  display: initial;
  color: rgb(0, 9, 138);
  background-color: #f7ff00;


  /* border: solid 1px black; */
  vertical-align: bottom;
}

sup:hover {
  color: rgb(0, 9, 138);
}

#content ul {
  font-family: monospace;
  font-size: 1em;
  padding-bottom: 1%;
  list-style: none;
}

#content ul li {
  padding-bottom: 1%;

}

p em {
  font-family: monospace;
  font-style: normal;
  font-size: 1em;
  line-height: 1.2em;
  text-indent: 0px;
  /* font-variant: small-caps; */
  /* letter-spacing: px;   */

}

#spacer {
  flex: 0 0 22px;
  order: 2;
}

.arrow:hover {
  background:  #f7ff00;
  color:  #f7ff00;
  margin-left: 0px;
  border: solid 1px  #f7ff00;
  border-left: none;
}

.arrow::before{
  color: #00098a;
}

.arrow {
  position: fixed;
  top: calc(50% - 23px);
  bottom: calc(50% - 23px);
  border: solid 1px #f7ff00;
    border-left-color:  #f7ff00;
    border-left-style: solid;
    border-left-width: 1px;
  border-left: none;
  border-radius: 0px 14px 14px 0px;
  padding-left: 3px;
  padding-right: 6px;
  margin-left: 0px;
  transition: 0.3s ease 0s;
}

aside {
  flex: 0 0 250px;
  width: 250px;
  order: 1;
  background: rgb(255, 251, 227);
  z-index: 999;
}

.fa-search::before {
  content: "🔍";
}

body {
  font-family: "Times-Simplex-Regular", sans-serif;
  left: 0;
  padding-top: 0;
  background-color: #e6e6e6;
}

body>.container {
  margin-left: 0;
}

.modal-open {
  background: magenta;
}

.homepage::before {
  background: none;
}

body::before {
  background: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: rgb(0, 9, 138);
  background-color: rgb(121, 111, 255);
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #fff;
  background-color: rgb(121, 111, 255);
}

.navbar-default .navbar-nav>li>a {
  color: rgb(0, 9, 138);
}

/* .navbar-default {
      background-color: rgb(189, 164, 22);
      border: none;
    } */

.navbar {
  background-image: none;
  box-shadow: none;
}

.nav {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f7ff00;
}

a.nav-item {
  font-family: "anav";
  color: #00098a;
  font-size: 1.1em;
}

a.nav-item:hover {
  background:#e6e6e6;
  color:#00098a;
}

a.nav-item.current {
  color: rgb(255, 255, 255);
  overflow-x: hidden;
  border-left: dotted 1px #00098a;
  border-bottom: dotted 1px #00098a;
}

a.nav-item.current:hover {
  color: #00098a;
  background: #e6e6e6;
}

a.nav-item.current {
  color: #00098a;
  background-color: #f7ff00;

}
.nav-item.toc {
  overflow-x: hidden;
  color: #00098a;
  border-bottom: dotted 1px #00098a;
  border-left: dotted 1px #00098a;
  background: #f7ff00;
}





.nav-item.toc:hover {
  color: rgb(0, 9, 138);
  background-color: #e6e6e6;
  border-bottom: dotted 1px #00098a;
  border-left: dotted 1px #00098a;
}

.home {
  display: none;
  background: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.site-name {
  display: none;
  color: #ddd;
  font-weight: bold;
}

#content p,
#content ul {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  line-height: initial;
  color: rgb(0, 9, 138)
}

.home-top {
  display: none;
}




#content blockquote {
  margin-left: 25%;
  padding-left: 1%;
  font-size: 1.2em;
  line-height: initial;
  width: 52%;
  border-left: dotted 2px rgb(0, 9, 138);
  color: rgb(0, 9, 138);
}


#content {
  width: 100%;
  color: rgb(0, 9, 138);
}

.wm-page-content a,
.wm-page-content a:hover,
.wm-page-content a:visited {
  color: rgb(9, 0, 133);
  text-decoration: underline;
  font-family: "Futura-Simplex-Light";
}

.navbar-expand-lg .navbar-collapse {
  font-family: "Futura-Simplex-Light";
  background-color: aliceblue;
}

.navbar,
.fixed-top {
  background: rgb(255, 251, 227);
  color: rgb(0, 9, 138);
  position: sticky;
  padding: 0;
}

.navbar-brand {
  font-family: "Futura-Duplex-Light";
  text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav li::marker {
  content: "";
}

.nav-item {
  font-family: "Futura-Simplex-Light";
}

.nav-item li,
.nav-item ul {
  padding: 0;
  margin: 0;
  border: none;
}

.nav-link a {
  padding: 5px 0;
}

.nav {
  top: 0;
  height: 100vh;
  border-right: dotted 1px #00098a;
}

.bs-sidebar .nav>li>a.active,
.bs-sidebar .nav>li>a.active:hover,
.bs-sidebar .nav>li>a:hover,
.bs-sidebar .nav>li>a.active:focus {
  border-right: none;

}

.col-md-9 img {
  max-width: 100%;
  display: inline-block;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #fff;
  border: none;
  margin: 20px auto 30px auto;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: none;
  box-shadow: none;
}

.bg-primary {
  background-color: rgba(140, 0, 255, 0.863) !important;
  background-repeat: unset;

}

.bg-secondary {
  background-color: transparent !important;
  border: 1px solid magenta;

}

.cm-navbar-group {
  background-color: blue;
}

h1 {
  padding-left: 1%;
  color: rgb(0, 9, 138);
  font-family: "h1";
  font-size: 2.4em;
  position: sticky;
  padding-top: 1%;
  padding-bottom: 1%;
  border-left: solid 5px#00098a;
  width: fit-content;
  /* letter-spacing: 10px;
      text-transform: uppercase; */
      left: 0;
      
  /* text-decoration: black underline 5px; */
}

h2 {
  font-size: 1.8em;
  padding-left: 1%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2em;
  font-family: "h1";
  width: 60%;
  text-decoration: underline solid 20px #f7ff00;

}

h3 {
  margin-top: 20px;
  font-size: 1.6em;
  line-height: 1.4em;
  font-family: "h1";
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1%;
}


h3+p,
h2+p {
  text-indent: 60px;
}


p {
  color: rgb(0, 0, 0);
  margin-left: 20px;
  margin-right: 50%;
  font-size: 1.1em;
  line-height: 2.3em;

}

ul,
li {
  margin-left: 10px;
  color: rgb(0, 9, 138);
}

p,
ul {
  padding-left: 10px;
}

a {
  color: rgb(0, 9, 138);
  text-decoration: underline dotted 2px rgb(0, 9, 138);
}

nav a {
  text-decoration: none;
}

em a {
  color: rgb(0, 9, 138);
}

/* li::marker{
      color: blue;
      content: "⋯ ";
    } */

img {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 3%;
  margin-bottom: 3%;
}

.wm-page-content p img {
  /* max-width: 100%; */
  height: 40vh;
  padding-bottom: 10px;
  border: none;
  border-left: none;
  background-color: #eee0;
  margin: 0;
}

.col-md-9 img {
  max-width: 100%;
  display: inline-block;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 20px auto 30px auto;
  height: 80vh;
}

iframe {
  width: 100%;
  height: 600px;
}

footer p {
  font-size: 0.95em;
  text-align: left;
  border-left: none;
}

.col-md-9 img {
  height: auto;
  width: 600px;
}

.bs-sidebar>.navbar-collapse>.nav {
  border-left: none;
}

.nav-item li::marker {
  content: "";
}

.nav-item li,
.nav-item ul {
  padding: 0;
  margin: 0;
}






@media screen and (min-width: 992px) and (max-width: 1200px) {

  .col-md-9 img {
    height: auto !important;
    width: 80% !important;
  }

  .nav-item li,
  .nav-item ul {
    padding: 0;
    margin: 0;
  }

  .bs-sidebar>.navbar-collapse>.nav {
    border-left: none;
    margin-left: 0;

  }

  .navbar-expand-lg .navbar-collapse {
    font-size: 1.15em;
  }

  .navbar-brand {
    margin-left: 20px;
  }

  p em {
    font-family: monospace;
    font-style: normal;
    font-size: 0.7em;
    line-height: 1.2em;
    text-indent: 0px;
  }

  blockquote sup em,
  sup em {
    width: 200px;
    position: absolute;
    right: 2%;
    border-left: solid 1px black;
    padding: 10px 10px 10px 10px;
    margin-top: 2%;
    max-height: 170px;
    overflow-y: auto;
    text-indent: 0px;
  }

  p {
    font-size: 1.2em;
    width: 70%;
  }

  h1 {
    font-size: 1.5em;
  }

  h3+p,
  h2+p {
    text-indent: 60px;
  }

  h2 {
    font-size: 1.4em;
    padding-left: 1%;
    margin-left: 0;
  }
  h3 {
    font-size: 1.2em;
    padding-left: 1%;
    margin-left: 0;
    width: 60%;
  }

  #content blockquote {
    margin-left: 10%;
    padding-left: 1%;
    font-size: 1.1em;
    line-height: initial;
    width: 52%;
    border-left: dotted 2px rgb(0, 9, 138);
    color: rgb(0, 9, 138);
  }

  #content ul {
    font-family: monospace;
    font-size: 0.7em;
  }

  #content p, #content ul {
    width: 70%;
    margin-left: 0;
    line-height: initial;
    color: rgb(0, 9, 138);
  }

}


@media screen and (min-width: 768px) and (max-width: 992px) {
  .col-md-9 img {
    height: auto !important;
    width: 300px !important;
  }

  #content blockquote {
    padding-left: 1%;
    margin-left: 10%;
  }

  aside {
    flex: 0 0 200px;
    width: 200px;
    order: 1;
    background: rgb(255, 251, 227);
    z-index: 999;
  }

  .navbar-brand {
    margin-left: 20px;
  }

  .nav a {
    font-size: 1em;
  }

  h1 {
    font-size: 1.6em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
  }

  h2 {
    font-size: 1.2em;
    margin-left: 0;
    width: 60%;
    padding-left: 1%;
  }

  h3 {
    font-size: 1em;
    margin-left: 0;
    width: 60%;
  }

  p em {
    font-family: monospace;
    font-style: normal;
    font-size: 0.7em;
    line-height: 1.2em;
    text-indent: 0px;
  }

  h3+p,
  h2+p {
    text-indent: 30px;
  }

  blockquote sup em,
  sup em {
    width: 125px;
  }

  #content ul {
    font-family: monospace;
    font-size: 0.8em;
  }

#content p, #content ul {
  width: 80%;
  margin-left: 0;
  margin-right: auto;
  line-height: initial;
  padding-left: 0%;
  font-size: 1.1em;
}
  #content blockquote {
    margin-left: 10%;
    padding-left: 1%;
    font-size: 1.3em;
    line-height: initial;
    width: 70%;
    border-left: dotted 2px black;
    font-size: 1em;
  }
}









@media screen and (min-width: 1200px) and (max-width: 3000px) {

}













@media screen and (max-width: 768px) {
aside {
  display: flex;
}
}

@media screen and (max-width: 370px) {
  /* body p img{
      margin: 0;
      font-size: 1em;
      line-height: 1em;
    } */
    aside {
      flex: 0 0 250px;
      width: 100%;
      order: 1;
      background: rgb(255, 251, 227);
      z-index: 999;
    }

    .nav {
      top: 0;
      height: 80px;
      border-right: solid 1px rgb(140, 180, 255);

    }

    main {
      position: absolute;
      top: 80px;
      height: fit-content;
    }

  .col-md-9 img {
    height: auto !important;
    width: 300px !important;
  }


  .navbar-brand {
    margin-left: 20px;
  }

  .nav a {
    font-size: 0.9em;
  }

  h1 {
    font-size: 1.6em;
    margin-left: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
  }

  h2 {
    font-size: 1.2em;
    margin-left: 0;
    padding-left: 1%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  h3 {
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  p em {
    font-family: monospace;
    font-style: normal;
    font-size: 0.7em;
    line-height: 1.2em;
    text-indent: 0px;
  }

  h3+p,
  h2+p {
    text-indent: 30px;
  }

  blockquote sup em,
  sup em {
    width: 125px;
    display: none;
  }

  #content ul {
    font-family: monospace;
    font-size: 0.8em;
  }

  #content p,
  #content ul {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: initial;
    padding-left: 0%;
  }

  #content blockquote {
    margin-left: 10%;
    padding-left: 1%;
    font-size: 1.3em;
    line-height: initial;
    width: 90%;
    border-left: dotted 2px black;
    font-size: 1em;
  }
}


@media screen and (min-width: 370px) and (max-width: 768px) {
  /* body p img{
      margin: 0;
      font-size: 1em;
      line-height: 1em;
    } */

  .col-md-9 img {
    height: auto !important;
    width: 300px !important;
  }


  .navbar-brand {
    margin-left: 20px;
  }

  .nav a {
    font-size: 0.9em;
  }

  h1 {
    font-size: 1.6em;
    margin-left: auto;
    padding-left: 1%;
    margin-right: auto;
  }

  h2 {
    font-size: 1.6em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    width: 100%;
  }

  h3 {
    font-size: 1.4em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  p em {
    font-family: monospace;
    font-style: normal;
    font-size: 0.7em;
    line-height: 1.2em;
    text-indent: 0px;
  }

  h3+p,
  h2+p {
    text-indent: 30px;
  }

  blockquote sup em,
  sup em {
    width: 125px;
    display: none;
  }

  #content ul {
    font-family: monospace;
    font-size: 0.8em;
  }

  #content p,
  #content ul {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: initial;
    padding-left: 0%;
    font-size: 1em;
  }

  #content blockquote {
    margin-left: 10%;
    padding-left: 1%;
    font-size: 1.3em;
    line-height: initial;
    width: 90%;
    border-left: dotted 2px black;
    font-size: 1.1em;
  }
}


@media print {
  @page {
    margin:.5rem 0;
    size: auto;
}

  body {
    margin: 1cm;
  }

  aside,
  #spacer {
    display: none;
  }

  #content p,
  #content ul {
    width: 70%;
    margin-left: 0;
    line-height: initial;
    padding-left: 0%;
    font-size: 1em;
  }


h1 {
  font-size: 1.6em;
  width: 50%;
  margin-left: 0;
}

h2 {
  font-size: 1.3em;
  margin-left: 0;
  padding-top: 5%;
}

h3 {
  font-size: 1.1em;
  margin-left: 0;
  padding-top: 2%;
}

  p {
    line-height: 1.2em;
    font-size: 1em;
    orphans: 3;
  }

  h2,h3 {
    break-inside: avoid;
  }

  h3+p,
  h2+p {
    text-indent: 30px;
  }

  #content ul {
    font-family: monospace;
    font-size: 0.8em;
  }

  #content blockquote {
    margin-left: 10%;
    padding-left: 1%;
    font-size: 1.3em;
    line-height: initial;
    width: 60%;
    font-size: 1em;
    break-inside: avoid;
    orphans: 3;

  }
  blockquote sup em, sup em {
  display:flex;
  width: 200px;
  right: 2%;
  border-left: solid 1px rgb(140, 180, 255);
  padding: 10px 10px 10px 10px;
  height: fit-content;
  overflow-y: auto;
  text-indent: 0px;
  }


}
